* {
    box-sizing: border-box;
}

body {
    font: 15px "Roboto", sans-serif;
    min-width: 1170px;
}

.intro-wrapper {
    background: #89898b;
    width: 100%;
    height: 100vh;
    min-height: 510px;
    display: flex;
}

.intro-content {
    width: 670px;
    height: 510px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.intro-content img {
    width: 90px;
    height: 89px;
    margin-bottom: 55px;
}

.intro-content h1 {
    font: 15px "Roboto Regular", sans-serif;
    color: #fff;
    margin-bottom: 52px;
    text-transform: uppercase;
}

.intro-content span {
    font: 40px "Roboto Light", sans-serif;
    color: #ffe600;
    margin-bottom: 110px;
    text-transform: uppercase;
    display: block;
}

.intro-content button {
    font: 15px "Roboto Regular", sans-serif;
    color: #fff;
    border: 1px solid #ffe600;
    margin-bottom: 45px;
    width: 234px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #89898b;
}

.intro-content button:hover,
.intro-content button:active {
    background: #ffe600;
    border: 1px solid #ffe600;
}

.intro-content a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

.intro-content a::before {
    content: "\e901";
    color: #fff;
}


/*NAV*/

.nav {
    width: 1170px;
    margin: auto;
    border-bottom: 1px solid #ffe600;
}

.nav img {
    margin-top: 40px;
    margin-left: 12px;
    margin-bottom: 40px;
}

[class*="nav"] ul {
    width: 1170px;
    height: 120px;
    margin: auto;
    display: flex;
    padding: 10px 22px;
    align-items: center;
}

[class*="nav"] ul li:first-child a {
    border: 1px solid #ffe600;
    padding: 10px 22px;
    color: #131316;
}

[class*="nav"] ul li a {
    padding: 10px 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #8e8e8e;
    border: 1px solid transparent;
}

[class*="nav"] ul li.active a,
[class*="nav"] ul li a:hover {
    border: 1px solid #ffe600;
}

.nav ul {
    justify-content: flex-end;
    width: 600px;
    float: right;
}


/*ABOUT US*/

.about-us {
    width: 1170px;
    min-height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}

.about-us .heading {
    font: 25px "Roboto Regular", sans-serif;
    color: #131316;
}

.about-us .heading span {
    color: #ffe600;
    font: 15px "Roboto Regular", sans-serif;
    display: block;
    margin-top: 30px;
}

.about-us .data ul {
    display: flex;
    justify-content: space-around;
}

.about-us .data li {
    /*padding: 0 68px;*/
    width: 320px;
    text-align: center;
}

.about-us .data li h2 {
    font: 15px "Roboto Regular", sans-serif;
    margin-bottom: 55px;
    color: #131316;
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-us .data li h2 span {
    color: #ffe600;
    padding: 8px 17px;
    margin-right: 20px;
    position: relative;
    font: 25px "Roboto Regular", sans-serif;
}

.about-us .data li h2 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 40px;
    background: #ffe600;
}

.about-us .data li p {
    font: 15px "Roboto Light", sans-serif;
    color: #8e8e8e;
    margin-bottom: 49px;
}


/*INFO*/

.info-wrapper {
    background: #ffeb33;
}

.info {
    width: 1170px;
    min-height: 600px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info h3 {
    font: 25px/40px "Roboto LightItalic", sans-serif;
    margin-bottom: 20px;
    font-style: italic;
}

.info span {
    font: 15px "Roboto Regular", sans-serif;
    color: #fff;
}


/*PORTFOLIO*/

.portfolio {
    width: 1170px;
    min-height: 940px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.portfolio .heading {
    font: 25px "Roboto Regular", sans-serif;
    color: #131316;
}

.portfolio .heading span,
.portfolio span {
    color: #ffe600;
    font: 15px "Roboto Regular", sans-serif;
    display: block;
    margin-top: 15px;
}

.portfolio .data ul {
    min-height: 432px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.portfolio .data li {
    width: 270px;
    height: 200px;
    text-align: center;
    background: #f3f3f3;
    margin-bottom: 30px;
    font: 20px "Roboto Regular", sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio .data li span {
    color: #fff;
    position: relative;
    font: 15px "Roboto Regular", sans-serif;
}

.portfolio .data li:hover {
    background: #ffe600;
    color: #131316;
    text-align: center;
    margin-bottom: 30px;
    font: 20px "Roboto Regular", sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.portfolio .data li span:hover {
    color: #fff;
    position: relative;
    font: 15px "Roboto Regular", sans-serif;
}

.portfolio a {
    text-decoration: none;
}

.portfolio a::before {
    content: "\e900";
    color: #131316;
}


/*CLIENTS*/

.clients-wrapper {
    background: #424245;
}

.clients {
    width: 1170px;
    min-height: 500px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}

.clients .heading {
    font: 25px "Roboto Regular", sans-serif;
    color: #fff;
}

.clients .heading span {
    color: #ffe600;
    font: 15px "Roboto Regular", sans-serif;
    display: block;
    margin-top: 30px;
}

.clients .data ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* CONTACT US*/

.contact-us {
    width: 1170px;
    min-height: 800px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.contact-us .heading {
    font: 25px "Roboto Regular", sans-serif;
    color: #131316;
}

.contact-us .heading span {
    color: #ffe600;
    font: 15px "Roboto Regular", sans-serif;
    display: block;
    margin-top: 30px;
}

.registration-form {
    width: 980px;
    float: right;
    background: #ffffff;
    position: relative;
    padding: 35px 30px;
}

.row {
    margin-bottom: 20px;
}

.registration-form ::placeholder {
    color: #fff;
}

.registration-form input[type="email"] {
    float: right;
    margin-top: 20px;
}

.registration-form input[type="text"],
.registration-form input[type="email"] {
    background: #ffe600;
    line-height: 20px;
    border: 1px solid #ffe600;
    padding: 2px 10px;
    display: block;
    width: 470px;
    font: 15px/25px "Roboto Regular", sans-serif;
}

.registration-form textarea {
    background: #ffe600;
    border: 1px solid #ffe600;
    padding: 2px 10px;
    display: block;
    width: 970px;
    height: 180px;
    font: 15px/25px "Roboto Regular", sans-serif;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type="submit"]:focus,
.registration-form textarea:focus {
    outline: none;
}

.submit-btn {
    background: #131316;
    width: 970px;
    height: 50px;
    color: #ffe600;
    border: 1px solid #131316;
    border-radius: 2px;
    cursor: pointer;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    float: left;
    margin-right: 50px;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ffe600;
    background: #fff;
}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
    content: "";
    width: 16px;
    height: 16px;
    background: #ffe600;
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #131316;
    margin-right: 17px;
    margin-left: 33px;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ffe600;
    border-radius: 100%;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #ffe600;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* FOOTER */

.footer {
    background: #131316;
}

.footer-info {
    width: 1170px;
    height: 100px;
    margin: auto;
    color: #ffe600;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-info .icon-social {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

.icon-social a {
    text-decoration: none;
}

.icon-facebook:before {
    content: "\e903";
    color: #fff;
}

.icon-twitter:before {
    content: "\e905";
    color: #fff;
}

.icon-dribble:before {
    content: "\e902";
    color: #fff;
}

.icon-google-plus:before {
    content: "\e904";
    color: #fff;
}

.icon-youtube:before {
    content: "\e906";
    color: #fff;
}